* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  font-family: "Montserrat", sans-serif !important;
  height: 100%;
  margin: 10px;
}
